- var def_class_body = "eq-ui-layout-header-fixed eq-ui-side-nav-auto"

meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='msapplication-tap-highlight', content='no')

if meta_descript
	meta(name='description', content='#{meta_descript}')
else
	meta(name='description', content='Implements Google\'s Material Design in Bootstrap.')

if doc_route.name_section && doc_route.name_chapter
	title #{doc_route.name_section} - #{doc_route.name_chapter} | Exentriq - Bootstrap Material UI
else if doc_route.name_chapter
	title #{doc_route.name_chapter} | Exentriq - Bootstrap Material UI
else
	title Documentation | Exentriq - Bootstrap Material UI

// CSS
link(href='assets/css/exentriq-bootstrap-material-ui.min.css?v=0.0.0', rel='stylesheet')
link(href='assets/css/doc.css?v=0.0.0', rel='stylesheet')